[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
	branch = main
	shallow = true
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = git@github.com:sajadn/Megatron-Bridge.git
	branch = nemotron-diffusion
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = main
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/linnanwang/Gym.git
	branch = sajad_dllm
	shallow = true
